#theCode {
	border: 1px solid #DDD;
	background: url('http://codejab.com/images/lnbg.png') #F7F7F7 repeat-y top left;
	/* E3E4E6 */
	padding-bottom: 5px;
}

#theCode ol {
	margin: 0px 0px 0px 5px;
}

#fromLink {
	margin-top: 5px;
	text-decoration: none;
}